h2 { 
  padding-bottom: 3px; 
  margin-bottom: 15px;
  border-bottom: 2px #eee solid;
}

li.album { margin-bottom: 20px; }
.album .album-images {opacity: .4 }
.album:hover .album-images{ opacity: 1}

.album-image { display: inline-block; }
.album-image a { display: block; border: 1px #ccc solid;}
.album-image img { display: block; min-width: 50px; min-height: 50px}
.album-image a:hover { border-color: #999; box-shadow: 0 0 4px #999;}

a.total-images { vertical-align: 3px; }
.total-images {margin-left: 5px;font-size: .7em}
span.total-images { color: #666}