{% if album.images | length %}
<div id="album-edit-images">
  <form>
    <ul id="images">
      {% for image in album.images %}
        <li>
          <input type="checkbox" name="images[image][]" value="{{ image.id }}" id="images_image_{{ image.id }}"/>
          <img src="{{ image.thumbnail('small') }}" alt=""/>
        </li>
      {% endfor %}
    </ul>
  </form>
</div>
{% endif %}