html { height: 100%}
body { font: 12px Arial; color: #444;}

#header { height: 60px; padding: 20px; background-color: #f3f3f3; border-bottom: 2px #ddd solid;}
#content-wrapper { padding: 20px;}


input[type=text], input[type=password], textarea {
  padding: 3px; border: 1px #ccc solid; border-radius: 5px;
  outline: 0!important;
  color: #555;
}
input[type=text]:hover, input[type=password]:hover, textarea:hover {
  box-shadow: 0 0 5px yellow;
  background-color: #fdfce6;
  color: #333;
}
input[type=text]:focus, input[type=password]:focus, textarea:focus {
  box-shadow: 0 0 5px #999;
  background-color: #fffdcc;
  color: #000;
}
input[type=submit] { padding: 4px; cursor: pointer}

::-webkit-input-placeholder  { color:#ccc; }
input:-moz-placeholder { color:#ccc; }


a { color: #666; }
a:hover { color: #333}
.error, .field-errors { color: #900}


.button { display: inline-block; padding: 3px 5px; border: 1px solid; border-radius: 4px;}
.gray-button {
  background: -moz-linear-gradient(top, #f3f3f3 0%, #d6d6d6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3), color-stop(100%,#d6d6d6));
  background: -webkit-linear-gradient(top, #f3f3f3 0%,#d6d6d6 100%);
  background: -o-linear-gradient(top, #f3f3f3 0%,#d6d6d6 100%);
  background: -ms-linear-gradient(top, #f3f3f3 0%,#d6d6d6 100%);
  background: linear-gradient(top, #f3f3f3 0%,#d6d6d6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#d6d6d6',GradientType=0 );
  border-color: #ccc;
  text-shadow: 1px 1px 1px #fff;
  text-decoration: none;
}
.gray-button:hover { 
  border-color:#999 ;
  background: -moz-linear-gradient(top, #d6d6d6 0%, #c4c4c4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d6d6d6), color-stop(100%,#c4c4c4));
  background: -webkit-linear-gradient(top, #d6d6d6 0%,#c4c4c4 100%);
  background: -o-linear-gradient(top, #d6d6d6 0%,#c4c4c4 100%);
  background: -ms-linear-gradient(top, #d6d6d6 0%,#c4c4c4 100%);
  background: linear-gradient(top, #d6d6d6 0%,#c4c4c4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#c4c4c4',GradientType=0 );
    
}

#header { position: relative;}
#user-data { position: absolute; right: 20px; top: 20px;}

#sitelogo { font: normal 18px Serif; text-decoration: none;}
#sitelogo:hover { color: #000; }

h1 { font: normal 24px Serif, Georgia; color: #000; text-shadow: 1px 1px #ccc; margin-bottom: 1em;}

label.required { border-bottom: 1px #900 solid; }
.label-required { color: #900; font-size: .8em;}

.fields-table {}
.fields-table th, .fields-table td { padding: 5px;}

h2 { font: normal 18px serif;}
img.lazy {display: none}