<ul class="album-images">
  {% for image in images %}
    <li class="album-image">
      <a href="{{ path('image.show', {'id': image.id, 'album': album.slug}) }}">
        <img data-original="{{ image.thumbnail('list') }}" src="" alt="" class="lazy thumbnails thumbnails-list"/>
      </a>
      </li>
  {% endfor %}
</ul>