{% extends "RodgerGalleryBundle:Front:base.html.twig" %}
{% block body %}
{% if albums | length %}
<ul id="albums-list">
{% for album in albums %}
<li class="album">{% include "RodgerGalleryBundle:Front:_list_album.html.twig" with { 'album' : album[0], 'sort_date': album.sort_date } %}</li>
{% endfor %}
</ul>
{% endif %}

{% endblock body %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="/bundles/rodgergallery/css/albums.list.css">
{% endblock stylesheets %}